/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template/blog-post)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/LICENSE)
 */
body {
  padding-top: 50px;
}

.w-49{
  width: 49%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
}

/* .tbl-maxwidth {
  max-width: 100px;
} */

.pos-absolute{
  position: absolute;
}

.theme-bg-color, .btn-theme, .card-theme{
  background-color: #c1002a;
  color: #fff;
}

.btn-theme {
  border-color: #c1002a;
}

.btn-theme:hover {
  color: #fff;
  background-color: #004357;
  border-color: #004357;
}

.theme-color {
  color: #c1002a;
}

.theme-secondary-bg-color {
  background-color: #004357;
  color: #fff;
}

.theme-secondary-color {
  color: #004357;
}

.separator {
  border-right: 2px solid;
  margin-left: 5px;
}

.footer-nav a {
  padding-left: 5px;
  color: #fff;
}

.login-row, .profile-row, .help-row{
  height: 80vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card{
  width: 80%;
}

